body {
    background-color: aqua;
}

.container {
    display: flex;
    flex-flow: column;
}

.title {
    text-align: center;
}

.quiz-container {
    align-self: center;
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

.quiz-item {
    width: 150px;
    height: 150px;
    align-items: center;
    transition: .7s linear;
    transform-style: preserve-3d;
    position: relative;
}

.quiz-front, .quiz-back {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 2px solid blue;
    border-radius: 9px;
}

.quiz-front {
    background-color: azure;
    z-index: 1;
    backface-visibility: hidden;
}

.quiz-back {
    z-index: -1;
    background-color: cadetblue;
    transform: rotateY(180deg);
}

.front-text, .back-text {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.5em;
}

.quiz-item:hover {
    transform: rotateY(180deg);
}